.header{
  background-color: #f8f9fa;
  box-shadow: 2px 0 5px rgba(0, 0, 0, 0.2);
  top: 0;
  padding: 16px;
  position: sticky;
}
.btn-color{
  background-color: rgb(79 70 229);
  border-radius: 10px;
  color: #fff;
}
