<!--<ng-template #emptyContent>-->
<!--  <div class="empty-style">-->
<!--    <mat-icon class="icon-list">list</mat-icon>-->
<!--    <h4>Chưa có công việc gì</h4>-->
<!--  </div>-->
<!--</ng-template>-->
<!--<section *ngIf="doings && doings.length; else emptyContent">-->
<!--  <mat-card-->
<!--    *ngFor="let d of doings"-->
<!--    class="card-content mb-3"-->
<!--    appearance="outlined"-->
<!--  >-->
<!--    <section class="d-flex align-items-start">-->
<!--      <section class="example-section"-->
<!--      >-->
<!--        <mat-checkbox class="d-flex align-items-center"-->
<!--                      [ngModel]="d.done"-->
<!--                      (change)="toggleDone(d)"-->
<!--        >-->
<!--          <h5 class="m-0">{{ d.title }}</h5>-->
<!--        </mat-checkbox>-->
<!--        <mat-card-content>-->
<!--          <p class="ps-4">-->
<!--            {{ d.description }}-->
<!--          </p>-->
<!--        </mat-card-content>-->
<!--      </section>-->

<!--      <section class="ms-auto d-flex align-items-center gap-2">-->
<!--        <button class="btn btn-style m-0"-->
<!--                (click)="openUpdateDialog(d)"-->
<!--        >-->
<!--          <mat-icon >edit</mat-icon>-->
<!--        </button>-->

<!--        <button class="btn btn-style m-0" (click)="toggleArchive(d)"-->
<!--        >-->
<!--          <mat-icon>archive</mat-icon>-->
<!--        </button>-->
<!--        <button class="btn btn-style m-0" color="warn" (click)="delete(d.id!, d.title, d.description)"><mat-icon>delete</mat-icon></button>-->
<!--      </section>-->
<!--    </section>-->
<!--  </mat-card>-->
<!--</section>-->


