<ng-template #emptyContent>
  <div class="empty-style">
    <mat-icon class="icon-list">list</mat-icon>
    <h4>Chưa có công việc gì</h4>
  </div>
</ng-template>

<section *ngIf="todos && todos.length; else emptyContent">
  <mat-card
    *ngFor="let d of todos"
    class="card-content mb-3"
    appearance="outlined"
  >
    <section class="d-flex align-items-start">
      <section class="example-section"
      >
        <mat-checkbox class="d-flex align-items-center"
                      [checked]="status === 'done'"
                      [disabled]="status === 'done'"
                      (change)="status === 'doing' && checks(d)"
        >
          <h5 class="m-0" *ngIf="status !== 'done'">{{ d.title }}</h5>
          <del><h5 class="m-0" *ngIf="status === 'done' ">{{ d.title }}</h5></del>
        </mat-checkbox>
        <mat-card-content>
          <p class="ps-4" *ngIf="status !== 'done'">{{ d.description }}</p>
          <s class="ps-4" *ngIf="status === 'done' ">{{ d.description }}</s>
        </mat-card-content>
      </section>

      <section class="ms-auto d-flex align-items-center gap-2">
        <button class="btn btn-style m-0"
                [disabled]="status !== 'doing'"
                (click)="openUpdateDialog(d)"
        >
          <mat-icon>edit</mat-icon>
        </button>

        <button class="btn btn-style m-0"
                [disabled]="status === 'archive'"
                (click)="toggleArchive(d)"
        >
          <mat-icon>archive</mat-icon>
        </button>
        <button class="btn btn-style m-0" color="warn" (click)="delete(d.id!, d.title, d.description)"><mat-icon>delete</mat-icon></button>
      </section>
    </section>
  </mat-card>
</section>



