.card-content{
  padding: 15px;
  margin: 0 150px;
  border: none;
  box-shadow: 1px 0 5px rgba(0, 0, 0, 0.2);

  .btn-style{
    border: none;
    border-radius: 50%;
  }
}

.empty-style{
  color: darkgray;
  text-align: center;
  margin: 0;
  justify-content: space-around;
}
