.app-layout {
  display: flex;
  height: 100vh;
  background: #f5f8ff;
}

/* Sidebar */
app-sidebar {
  width: 240px;
  position: fixed;
  top: 0;
  bottom: 0;
  background: #fff;
  box-shadow: 2px 0 5px rgba(0, 0, 0, 0.05);
}

/* Main content */
.app-main {
  flex-grow: 1;
  margin-left: 240px;
  display: flex;
  flex-direction: column;
}

/* Header */
app-header {
  // height: 64px;
  background: #fff;
  box-shadow: 0 4px 6px -4px rgba(0, 0, 0, 0.2);
  position: sticky;
  top: 0;
  z-index: 100;
}

/* Content */
.app-content {
  background: #f5f8ff;
  flex-grow: 1;
  overflow-y: auto;
}
