<div class="sidebar p-4">
  <h1 class="text-primary fw-bold">Todo App</h1>
  <div class="mt-5">
    <button
      matButton="tonal"
      class="btn btn-primary d-flex align-items-center mb-2 w-btn p"
    >
      <mat-icon class="me-2">list</mat-icon>
      Đang làm
    </button>
    <button
      matButton="tonal"
      class="btn d-flex align-items-center mb-2 w-btn p"
    >
      <mat-icon class="me-2">check</mat-icon>
      Đã xong
    </button>
    <button
      matButton="tonal"
      class="btn d-flex align-items-center w-btn p"
    >
      <mat-icon class="me-2">archive</mat-icon>
      Lưu trữ
    </button>
  </div>
</div>
